.cartWidgetLogo{
    display: flex;
    .cartNumber{
        background-color: red;
        color: white;
        border-radius: 100%;
        font-size:25px;
        width: 30px;
        height: 30px;
        text-align: center;
        position: relative;
        bottom: -25px;
        left: -25px;
    }
    img{
        background-color: white;
        padding: 5px;
        border-radius: 10%
    }
}