.list-container {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  color: black;
  display: block;
  }
  
  .list-title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
  }
  .vista-previa-producto {
   padding: 1rem;
   text-align: justify;
    article {
      display: inline-block;
      margin: 1rem;
      padding: 0.5rem;
      width: 250px;
      height: 350px;
      background-color: white;
      overflow:hidden;
      box-shadow:0px 0px 20px rgba(0, 0, 0, 0.5);
      .itemName{
        height: 50px;
        text-align: center;
        background-color: white;
      }
      // .itemDescription{
      //   font-size: 15px;
      //   font-weight: 300;
      //   height: 50px;
      //   overflow: hidden;
      //   color: rgb(189, 189, 189);
      // }
      .itemPrice{
        font-size: larger;
        text-align: center;
      }
      .botonVer{
        background-color: rgb(34 197 94);
        width: 100%;
      }
      .botonVer:hover{
        cursor: pointer;
        background-color: rgb(74 222 128);
      }
    }
   }