@import './NavBar/NavBar';
@import './cartWidget/cartWidget';
@import './ItemListContainer/ItemListContainer';
@import './Container/Container';
@import './Boton/Boton';
@import './ItemDetailContainer/ItemDetailContainer';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}